#memory {
    
}

.address {
    font-family: D7CBI;
    font-size: small;/*アドレス*/
    color: rgb(136, 134, 134);
}

.mem_value {
    
    font-family: D7CBI;
    width: 30px;/*テキストボックスの横幅*/
}
.mem_binary {
    
    font-family: D7CBI;
    width: 80px;/*テキストボックスの横幅*/
}
#display1 {
    display: flex;
    justify-content: center;
}
#memory_view1{
    width: 400px;
    display: grid;
    grid-template-columns: 170px 100px ;
    grid-auto-rows: 30px;
    /*二進数の部分or左全般っぽい*/
}
#memory_view2{
    width: 800px;
    display: grid;
    grid-template-columns: 180px 150px 150px 150px;
    grid-auto-rows: 30px;
    /*二進数の部分or左全般っぽい*/
}

#test{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}
.flex2{
    display: flex;
    margin: 0 0 0 100px;
    gap: 6px 115px;
}
.flex3{
    display: flex;
    margin: 0 0 0 120px;
    gap: 6px 200px;
}
.flex4{
    display: flex;
    margin: 0 0 0 10px;
    gap: 0px 80px;
}
.dot {
    width: 30px;
    height: 30px;
    background-color: #a0a0a0;
    display: inline-block;
    margin: 1;
    padding: 0;
}
/*↑↓図の詳細*/
.line {
    margin: 0;
    padding: 0;
    height: 30px;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
}

caption{
    caption-side: top;
    margin: 10;
}