#memory {
    
}

.address {
    font-family: D7CBI;
    font-size: small;/*アドレス*/
    color: rgb(136, 134, 134);
}

.mem_value {
    
    font-family: D7CBI;
    width: 30px;/*テキストボックスの横幅*/
}
#display1 {
    display: flex;
    justify-content: center;
}
#memory_view1{
    
}

.flex{
    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #a0a0a0;
    display: inline-block;
    margin: 1;
    padding: 0;
}
/*↑↓図の詳細*/
.line {
    margin: 0;
    padding: 0;
    height: 20px;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
}